<section class="about-hero">
  <div class="container about-hero__container">
    <div class="about-hero__header">
      <div class="about-hero__breadcrumbs">
        <a href="/" class="about-hero__breadcrumbs-link">Home</a>
        <span class="about-hero__breadcrumbs-separator">/</span>
        <span class="about-hero__breadcrumbs-current">About</span>
      </div>
      <h1 class="about-hero__title">about us.</h1>
      <div class="about-hero__subtitle">
        We restore leather, vinyl, and eco-leather—every day, no weekends or holidays, since 2024.
        People call us “wizards,” but it’s not magic—it’s years of hands-on experience.
      </div>
      <button class="about-hero__cta-btn">
        <div class="about-hero__cta-btn-text">Let’s work together!</div>
        <div class="about-hero__cta-btn-icon">
          <img src="/assets/icons/arrow-up-right.svg" alt="Arrow right" />
        </div>
      </button>
    </div>
    <div class="about-hero__features-gallery-wrapper">
      <div class="about-hero__features">
        <div class="about-hero__feature">
          <h2 class="about-hero__feature-title">trust<br />the professionals</h2>
          <p class="about-hero__feature-text">
            Tried a DIY fix first? You’re not alone. We’ve seen the “liquid leather,” iron-on
            patches, and cheap kits. Most of the time, they make things worse. Trust us—professional
            repair costs less than fixing failed DIY attempts.
          </p>
        </div>
        <div class="about-hero__feature-image">
          <img
            src="/assets/images/about-hero/man-working.jpg"
            alt="Man working on project"
            class="about-hero__gallery-img"
          />
        </div>
        <div class="about-hero__feature">
          <h2 class="about-hero__feature-title">real craftsmanship</h2>
          <p class="about-hero__feature-text">
            Restoration isn't patchwork—it's real craftsmanship. And detailing? Flossing your teeth.
            Do it every day, and you won't have to repair anything major later.
          </p>
        </div>
        <div class="about-hero__feature">
          <h2 class="about-hero__feature-title">The best asset we have is the crew</h2>
          <p class="about-hero__feature-text">
            These are guys who work like special forces—each does his own thing, all in sync like a
            well-oiled machine. It's wonderful to see.
          </p>
        </div>
        <div class="about-hero__feature">
          <h2 class="about-hero__feature-title">No shortcuts</h2>
          <p class="about-hero__feature-text">
            We've experimented with almost every product and process out there. <br />
            No one-size-fits-all. We keep learning, testing, and refining—because being the best is
            never a fixed thing.
          </p>
        </div>

        <div class="about-hero__feature-image">
          <img
            src="/assets/images/about-hero/hand-and-leather.jpg"
            alt="Leather restoration"
            class="about-hero__gallery-img"
          />
        </div>
      </div>

      <div class="about-hero__gallery swiper">
        <div class="about-hero__gallery-nav">
          <div class="about-hero__gallery-prev" aria-label="Previous">
            <img src="/assets/icons/arrow-left.svg" alt="Arrow left" />
          </div>
          <div class="about-hero__gallery-next" aria-label="Next">
            <img src="/assets/icons/arrow-right.svg" alt="Arrow right" />
          </div>
        </div>
        <div class="about-hero__gallery-wrapper swiper-wrapper">
          <div class="about-hero__gallery-slide swiper-slide">
            <h2 class="about-hero__gallery-slide-title">trust<br />the professionals</h2>
            <p class="about-hero__gallery-slide-text">
              Tried a DIY fix first? You’re not alone. We’ve seen the “liquid leather,” iron-on
              patches, and cheap kits. Most of the time, they make things worse. Trust
              us—professional repair costs less than fixing failed DIY attempts.
            </p>
          </div>
          <div class="about-hero__gallery-slide-image swiper-slide">
            <img
              src="/assets/images/about-hero/man-working.jpg"
              alt="Man working on project"
              class="about-hero__gallery-img"
            />
          </div>
          <div class="about-hero__gallery-slide swiper-slide">
            <h2 class="about-hero__gallery-slide-title">real craftsmanship</h2>
            <p class="about-hero__gallery-slide-text">
              Restoration isn't patchwork—it's real craftsmanship. And detailing? Flossing your
              teeth. Do it every day, and you won't have to repair anything major later.
            </p>
          </div>
          <div class="about-hero__gallery-slide swiper-slide">
            <h2 class="about-hero__gallery-slide-title">The best asset we have is the crew</h2>
            <p class="about-hero__gallery-slide-text">
              These are guys who work like special forces—each does his own thing, all in sync like
              a well-oiled machine. It's wonderful to see.
            </p>
          </div>
          <div class="about-hero__gallery-slide swiper-slide">
            <h2 class="about-hero__gallery-slide-title">No shortcuts</h2>
            <p class="about-hero__gallery-slide-text">
              We've experimented with almost every product and process out there. <br />
              No one-size-fits-all. We keep learning, testing, and refining—because being the best
              is never a fixed thing.
            </p>
          </div>

          <div class="about-hero__gallery-slide-image swiper-slide">
            <img
              src="/assets/images/about-hero/hand-and-leather.jpg"
              alt="Leather restoration"
              class="about-hero__gallery-img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
