<section class="about-hero">
  <div class="container about-hero__container">
    <div class="about-hero__header">
      <div class="about-hero__breadcrumbs">
        <a href="/" class="about-hero__breadcrumbs-link">Home</a>
        <span class="about-hero__breadcrumbs-separator">/</span>
        <span class="about-hero__breadcrumbs-current">About</span>
      </div>
      <h1 class="about-hero__title">about us.</h1>
      <div class="about-hero__subtitle">
        We restore leather, vinyl, and eco-leather—every day, no weekends or holidays, since 2024.
        People call us “wizards,” but it’s not magic—it’s years of hands-on experience.
      </div>
      <button class="about-hero__cta-btn">
        <div class="about-hero__cta-btn-text">Let’s work together!</div>
        <div class="about-hero__cta-btn-icon">
          <img src="/assets/icons/arrow-up-right.svg" alt="Arrow right" />
        </div>
      </button>
    </div>
    <div class="about-hero__features-gallery-wrapper">
      <div class="about-hero__features">
        <div class="about-hero__feature">
          <h2 class="about-hero__feature-title">trust<br />the professionals</h2>
          <p class="about-hero__feature-text">
            Tried a DIY fix first? You’re not alone. We’ve seen the “liquid leather,” iron-on
            patches, and cheap kits. Most of the time, they make things worse. Trust us—professional
            repair costs less than fixing failed DIY attempts.
          </p>
        </div>
        <div class="about-hero__feature-image">
          <img src="/assets/images/about-hero/man-working.jpg" alt="Man working on project"
            class="about-hero__gallery-img" />
        </div>
        <div class="about-hero__feature">
          <h2 class="about-hero__feature-title">real craftsmanship</h2>
          <p class="about-hero__feature-text">
            Restoration isn't patchwork—it's real craftsmanship. And detailing? Flossing your teeth.
            Do it every day, and you won't have to repair anything major later.
          </p>
        </div>
        <div class="about-hero__feature">
          <h2 class="about-hero__feature-title">The best asset we have is the crew</h2>
          <p class="about-hero__feature-text">
            These are guys who work like special forces—each does his own thing, all in sync like a
            well-oiled machine. It's wonderful to see.
          </p>
        </div>
        <div class="about-hero__feature">
          <h2 class="about-hero__feature-title">No shortcuts</h2>
          <p class="about-hero__feature-text">
            We've experimented with almost every product and process out there. <br />
            No one-size-fits-all. We keep learning, testing, and refining—because being the best is
            never a fixed thing.
          </p>
        </div>

        <div class="about-hero__feature-image">
          <img src="/assets/images/about-hero/hand-and-leather.jpg" alt="Leather restoration"
            class="about-hero__gallery-img" />
        </div>
      </div>

      <div class="about-hero__gallery swiper">
        <div class="about-hero__gallery-nav">
          <div class="about-hero__gallery-prev" aria-label="Previous">
            <svg class="arrow-icon" width="26" height="30" viewBox="0 0 26 30" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 15L1 15L1 13L2 13L2 15ZM2 14L2 13L26 13L26 14L26 15L2 15L2 14Z" />
              <path
                d="M6.12898 11.7637L5.42188 12.4709L4.00766 11.0566L4.71477 10.3495L6.12898 11.7637ZM5.42188 11.0566L4.71477 10.3495L13.4278 1.63652L14.1349 2.34363L14.842 3.05073L6.12898 11.7637L5.42188 11.0566Z" />
              <path
                d="M14.9726 25.6502L15.6797 26.3573L14.2655 27.7715L13.5584 27.0644L14.9726 25.6502ZM5.1875 17.2793L5.89461 16.5722L14.9726 25.6502L14.2655 26.3573L13.5584 27.0644L4.48039 17.9864L5.1875 17.2793Z" />
            </svg>
          </div>
          <div class="about-hero__gallery-next" aria-label="Next">
            <svg class="arrow-icon" width="26" height="30" viewBox="0 0 26 30" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M24 15.002L25 15.002L25 13.002L24 13.002L24 15.002ZM24 14.002L24 13.002L-1.26441e-07 13.002L0 14.002L1.26441e-07 15.002L24 15.002L24 14.002Z" />
              <path
                d="M19.957 11.7657L20.6641 12.4728L22.0783 11.0586L21.3712 10.3515L19.957 11.7657ZM20.6641 11.0586L21.3712 10.3515L12.6582 1.63847L11.951 2.34558L11.2439 3.05269L19.957 11.7657L20.6641 11.0586Z" />
              <path
                d="M11.1211 25.6502L10.414 26.3573L11.8283 27.7715L12.5354 27.0644L11.1211 25.6502ZM20.9063 17.2793L20.1991 16.5722L11.1211 25.6502L11.8283 26.3573L12.5354 27.0644L21.6134 17.9864L20.9063 17.2793Z" />
            </svg>
          </div>
        </div>
        <div class="about-hero__gallery-wrapper swiper-wrapper">
          <div class="about-hero__gallery-slide swiper-slide">
            <h2 class="about-hero__gallery-slide-title">trust<br />the professionals</h2>
            <p class="about-hero__gallery-slide-text">
              Tried a DIY fix first? You’re not alone. We’ve seen the “liquid leather,” iron-on
              patches, and cheap kits. Most of the time, they make things worse. Trust
              us—professional repair costs less than fixing failed DIY attempts.
            </p>
          </div>
          <div class="about-hero__gallery-slide-image swiper-slide">
            <img src="/assets/images/about-hero/man-working.jpg" alt="Man working on project"
              class="about-hero__gallery-img" />
          </div>
          <div class="about-hero__gallery-slide swiper-slide">
            <h2 class="about-hero__gallery-slide-title">real craftsmanship</h2>
            <p class="about-hero__gallery-slide-text">
              Restoration isn't patchwork—it's real craftsmanship. And detailing? Flossing your
              teeth. Do it every day, and you won't have to repair anything major later.
            </p>
          </div>
          <div class="about-hero__gallery-slide swiper-slide">
            <h2 class="about-hero__gallery-slide-title">The best asset we have is the crew</h2>
            <p class="about-hero__gallery-slide-text">
              These are guys who work like special forces—each does his own thing, all in sync like
              a well-oiled machine. It's wonderful to see.
            </p>
          </div>
          <div class="about-hero__gallery-slide swiper-slide">
            <h2 class="about-hero__gallery-slide-title">No shortcuts</h2>
            <p class="about-hero__gallery-slide-text">
              We've experimented with almost every product and process out there. <br />
              No one-size-fits-all. We keep learning, testing, and refining—because being the best
              is never a fixed thing.
            </p>
          </div>

          <div class="about-hero__gallery-slide-image swiper-slide">
            <img src="/assets/images/about-hero/hand-and-leather.jpg" alt="Leather restoration"
              class="about-hero__gallery-img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>