{{#> modal modalId="phone" }}
<!-- Содержимое модального окна звонка -->

<div class="modal-phone">
   <div class="modal-phone__content">
      <h2 class="modal-phone__title">+1 (323) 513 47 57</h2>
      <p class="modal-phone__description">Give us a call — we're here every day 8 am — 8 pm.</p>
   </div>
</div>
{{/modal}}