@use '../../styles/base/vars' as *;
@use '../../styles/base/mixins' as *;

.modal-phone {
   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__title {
      @include desktop-H3;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: var(--color-accent);
   }

   &__description {
      @include desktop-body-3;
      text-align: center;
      color: var(--color-text-black);
   }
}