@use '../../../styles/base/vars' as *;
@use '../../../styles/base/mixins' as *;

.modal-zipcode {
  width: 100%;
}

.modal-zipcode__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-zipcode__title {
  @include desktop-H3;

  text-transform: uppercase;
  color: var(--color-accent);
}

.modal-zipcode__description {
  @include desktop-body-3;

  max-width: 310px;
  margin-top: 6px;
  color: var(--color-text-black);
}

.modal-zipcode__form {
  margin-top: 20px;
  width: 100%;
}

.modal-zipcode__label {
  text-align: left;
  display: block;
  @include desktop-body-5;

  span {
    color: var(--color-accent);
  }
}

.modal-zipcode__input {
  @include desktop-body-5;

  margin-top: 6px;
  border: 1px solid var(--color-secondary-gray);
  width: 100%;
  padding: 10px;
  background: transparent;
  color: var(--color-text-black);
  transition: border-color 0.3s ease;

  &::placeholder {
    color: var(--color-secondary-gray);
  }

  &:focus {
    outline: none;
    border-color: var(--color-text-black);
  }
}

.modal-zipcode__error {
  @include desktop-body-5;

  color: var(--color-accent);
  height: 32px;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.modal-zipcode__error--visible {
    opacity: 1;
  }
}

.modal-zipcode__actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-zipcode__confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 36px;
  background: none;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0;
  width: 308px;

  &-text {
    flex: 1;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: var(--color-accent);
    transition: color 0.2s ease;
  }

  &-icon {
    width: 36px;
    height: 36px;
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;

    svg {
      width: 21px;
      height: 22px;
      fill: var(--color-primary-background2);
      transition: fill 0.2s ease;
    }
  }

  &:hover {
    background-color: var(--color-accent);

    .modal-zipcode__confirm-text {
      color: var(--color-primary-background2);
    }

    .modal-zipcode__confirm-icon {
      background-color: var(--color-primary-background2);

      svg {
        fill: var(--color-accent);
      }
    }
  }

  &:focus {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
  }

  &:disabled {
    // opacity: 0.5;

    cursor: not-allowed;
    background: none;
    border: 1px solid var(--color-secondary-disabled);

    .modal-zipcode__confirm-text {
      color: var(--color-secondary-disabled);
    }

    .modal-zipcode__confirm-icon {
      background-color: var(--color-secondary-disabled);

      svg {
        fill: var(--color-primary-background2);
      }
    }
  }
}
