{{#> modal modalId="success" }}
<!-- Содержимое модального окна успеха -->

<div class="modal-success">
   <div class="modal-success__content">
      <h2 class="modal-success__title">Thank you for your request!</h2>
      <p class="modal-success__description">We've received your application and will contact you via phone as soon as
         possible.</p>
   </div>
</div>
{{/modal}}