@use '../../styles/base/vars' as *;
@use '../../styles/base/mixins' as *;

.reviews {
  color: var(--color-text-white);
  min-height: 1px;

  &__container {
    padding-top: 50px;
    padding-bottom: 50px;

    @include lg-up {
      padding-top: 5.4vw;
      padding-bottom: 5.4vw;
    }

    @include xxxl-up {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  &__header {
    color: var(--color-accent);
  }

  &__body {
    margin-top: 20px;
  }

  &__tabs {
    width: 156px;
    height: 44px;
    border: 1px solid var(--color-accent);
    display: flex;
    margin-right: 154px;

    @include lg-up {
      height: 33px;
    }

    &-description {
      margin-top: 30px;
      width: 285px;
      @include mobile-body-3;

      @include lg-up {
        margin-top: 2.3vw;
        margin-right: 25px;
        width: auto;
        @include desktop-body-3;
      }
    }

    &-block {
      width: 100%;

      @include lg-up {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__tab {
    flex: 2 1 auto;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s;

    &--active {
      background-color: var(--color-accent);
      cursor: default;
    }
  }

  &__nav {
    height: 100%;
  }

  &__slider {
    overflow: hidden;
    margin-top: 50px;

    @include lg-up {
      margin-top: 3.9vw;
    }

    @include xxxl-up {
      margin-top: 50px;
    }

    &-wrapper {
      margin-top: 30px;

      @include lg-up {
        margin-top: 2.3vw;
      }

      @include xxxl-up {
        margin-top: 30px;
      }
    }
  }

  &__item {
    &-text {
      margin-top: 20px;
      @include mobile-body-3;

      @include lg-up {
        @include desktop-body-3;
      }
    }
  }

  &__author {
    margin-top: 30px;

    @include lg-up {
      margin-top: 26px;
    }
  }

  &__date {
    margin-left: 6px;
  }

  &__link {
    text-decoration: underline;
    transition: color 0.3s;
    @include mobile-body-4;

    @include lg-up {
      @include desktop-body-4;

      &:hover {
        color: var(--color-accent);
      }
    }
  }
}
