<section class="reviews" id="reviews" aria-label="Customer reviews">
   <div class="container reviews__container">
      <div class="reviews__content">
         <div class="reviews__header-line">
            <div class="reviews__header">
               <div class="reviews__subtitle">results and</div>
               <div class="reviews__title">reviews</div>
            </div>

            <div class="reviews__tabs-block">
               <div class="reviews__tabs-description">
                  [Read what people say about our work on Google and Yelp]
               </div>

               <div class="reviews__tabs">
                  <button type="button" data-source="google" class="reviews__tab reviews__tab--active">Google</button>
                  <button type="button" data-source="yelp" class="reviews__tab">Yelp</button>
               </div>
            </div>
         </div>

         <div class="reviews__slider">
            <div class="reviews__nav">

               {{> slider-nav prevClass="reviews__nav-prev" nextClass="reviews__nav-next" }}

            </div>
            <div class="reviews__slider-wrapper swiper-wrapper">
               <div class="reviews__item swiper-slide">
                  <div class="reviews__item-quote">
                     <img src="/assets/icons/quote.svg" alt="quote">
                  </div>
                  <div class="reviews__item-text">
                     Came to this shop for leather cushion reupholstery and cleaning. They got it done crazy fast, super
                     precise,
                     and exactly how I wanted it 🙏🏼<br>
                     Huge shoutout to the manager—always in touch, answering every question, and keeping me updated on
                     the
                     process! Highly recommend this place to everyone I know!
                  </div>
                  <div class="reviews__author">
                     <span class="reviews__name">K. B.</span>
                     <span class="reviews__date">(2024-07-17)</span>
                  </div>
                  <a class="reviews__link" href="#" target="_blank" rel="noopener noreferrer">read on Google
                     Maps</a>
               </div>
               <div class="reviews__item swiper-slide">
                  <div class="reviews__item-quote">
                     <img src="/assets/icons/quote.svg" alt="quote">
                  </div>
                  <div class="reviews__item-text">
                     Needed help fixing my Mercedes seat. They quickly found the perfect material and nailed the color
                     match.
                     The
                     whole thing took just three hours! The work quality is top-notch.<br>
                     If you need any interior repairs for your car, this is the place to go. Customer service? 10/10.
                     Super
                     friendly and detail-oriented team. Massive thanks to everyone!
                  </div>
                  <div class="reviews__author">
                     <span class="reviews__name">Manu B.</span>
                     <span class="reviews__date">(2024-04-07)</span>
                  </div>
                  <a class="reviews__link" href="#" target="_blank" rel="noopener noreferrer">read on Google
                     Maps</a>
               </div>
               <div class="reviews__item swiper-slide">
                  <div class="reviews__item-quote">
                     <img src="/assets/icons/quote.svg" alt="quote">
                  </div>
                  <div class="reviews__item-text">
                     Awesome place. The price-to-quality ratio is just perfect. They take on jobs of any complexity, and
                     if
                     you
                     need a little extra work outside their usual scope, they’ll still try to help. Huge respect for the
                     whole
                     crew!
                  </div>
                  <div class="reviews__author">
                     <span class="reviews__name">Pablo L. D.</span>
                     <span class="reviews__date">(2024-06-10)</span>
                  </div>
                  <a class="reviews__link" href="#" target="_blank" rel="noopener noreferrer">read on Google
                     Maps</a>
               </div>
               <div class="reviews__item swiper-slide">
                  <div class="reviews__item-quote">
                     <img src="/assets/icons/quote.svg" alt="quote">
                  </div>
                  <div class="reviews__item-text">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. In laboriosam corporis quaerat,
                     repellendus delectus hic, fugiat commodi minima possimus tempora, labore sed tempore! Qui vel enim
                     incidunt, et quos animi.<br>
                  </div>
                  <div class="reviews__author">
                     <span class="reviews__name">Lorem ipsum</span>
                     <span class="reviews__date">(2024-04-07)</span>
                  </div>
                  <a class="reviews__link" href="#" target="_blank" rel="noopener noreferrer">read on Google
                     Maps</a>
               </div>
            </div>
         </div>
      </div>

   </div>
</section>