// === Базовые стили ===
@use 'base/vars' as *;
@use 'base/fonts';
@use 'base/reset';
@use 'base/mixins' as *;

// === Стили страниц ===
@use '../pages/about/about.scss';

// === Стили компонентов ===
@use '../components/header/header';
@use '../components/footer/footer';

// Основные стили
html {
  font-size: 16px;
}

body {
  font-family: var(--font-base);
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--color-background-body);
}

// Mobile-first стили
.container {
  // Mobile Default (100% ширины + безопасные отступы)
  background-color: var(--color-primary-background1);
  width: 100%;
  max-width: 100%;
  padding: 0 max(1rem, $safe-area-mobile); // Защита от "ушей" iPhone
  margin: 0 auto;

  // Desktop
  // 768px+
  @include lg-up {
    max-width: 1440px;
    padding: 0 4.375rem;
  }
}