<section class="main-hero">

   <div class="container main-hero__container">
      <div class="main-hero__background">
         <picture>
            <source media="(max-width: 767px)" srcset="/assets/images/main-hero/hero-background-mobile.jpg" />
            <source media="(min-width: 768px)" srcset="/assets/images/main-hero/hero-background-desktop.jpg" />
            <img src="/assets/images/main-hero/hero-background-desktop.jpg" alt="Main hero background" />
         </picture>
      </div>
      <div class="container main-hero__content">

         <h1 class="main-hero__title">
            Restoring leather and vinyl by erasing the passage of time
         </h1>

         <div class="main-hero__bottom-section">
            <div class="main-hero__stats">
               <div class="main-hero__stat-item">
                  <div class="main-hero__stat-number">250+</div>
                  <div class="main-hero__stat-text">satisfied customers</div>
               </div>
               <div class="main-hero__stat-item">
                  <div class="main-hero__stat-number">400+</div>
                  <div class="main-hero__stat-text">objects have started a new life</div>
               </div>
            </div>
            <div class="main-hero__cta-section">
               <p class="main-hero__cta-text">
                  Send a request for free consultation and calculation of costs
               </p>
               <div class="main-hero__cta-btn">
                  {{> cta-button text="Send a request" isSecondary=false}}
               </div>
            </div>
         </div>




      </div>
   </div>
</section>