@use '../../../styles/base/vars' as *;
@use '../../../styles/base/mixins' as *;

.slider-nav {
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;

  .arrow-icon {
    fill: var(--color-text-white);
  }

  .swiper-button-disabled {
    .arrow-icon {
      fill: var(--color-secondary-disabled);
      cursor: default;
    }
  }
}
