<section class="help-request">
   <div class="container help-request__container">
      <div class="help-request__content">
         <div class="help-request__image-block">
            <img src="/assets/images/help-request/spray-gun.jpg" alt="Help request" class="help-request__image" />
         </div>
         <div class="help-request__info">
            <h2 class="help-request__title">need a help? <br class="mobile-br">please <br class="mobile-br">complete the
               form and let us handle the rest.</h2>
            <div class="help-request__btn">
               {{> cta-button text="Send a request" isSecondary=true}}
            </div>
         </div>
      </div>
   </div>
</section>