<header class="header">
  <div class="header__logo">Логотип</div>
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__menu-item"><a href="/">Главная</a></li>
      <li class="header__menu-item"><a href="/about.html">О нас</a></li>
      <li class="header__menu-item"><a href="/contacts.html">Контакты</a></li>
    </ul>
  </nav>
  <button class="header__burger" aria-label="Открыть меню">
    <span></span><span></span><span></span>
  </button>
</header>
