@use '../../styles/base/vars' as *;
@use '../../styles/base/mixins' as *;

.header {
   position: absolute;
   z-index: var(--level-header);
   width: 100%;
   // isolation: isolate;

   .header__container {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
      background: none;

      @include lg-up {
         padding-top: 1.625rem;
         padding-bottom: 1.625rem;
      }
   }

   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;

   }

   &__logo-icon {
      &-elements {
         fill: var(--color-accent);
         transition: fill 0.3s ease;
      }

      &-separator {
         stroke: var(--color-accent);
         transition: stroke 4.3s ease;
      }
   }


   // Навигация
   &__nav {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      background-color: var(--color-accent);
      padding: 102px 15px 15px;
      transition: left 0.3s ease;
      z-index: var(--level-nav);


      @include lg-up {
         display: block;
         position: static;
         width: auto;
         height: auto;
         background-color: transparent;
         padding: 0;
         z-index: auto;
      }

      &-list {
         display: flex;
         align-items: center;
         gap: 30px;
      }

      &-item {
         position: relative;
         margin-right: 1px;

         &--services {
            &.header__nav-item--active .header__dropdown {

               opacity: 1;
               visibility: visible;
               // transform: translateY(0);

            }
         }
      }

      &-link {
         color: var(--color-text-white);
         @include desktop-body-3;
         transition: color 0.3s ease;

         &:hover {
            color: var(--color-accent);
         }

         &--services {
            display: flex;
            align-items: center;
            gap: 4px;
         }

         &--active {
            color: var(--color-accent);
         }
      }

      &-arrow {
         transition: transform 0.3s ease;
         width: 8px;
         height: 5px;

      }

      &-item--services.header__nav-item--active &-arrow {
         transform: rotate(180deg);
      }
   }

   // Выпадающее меню Services
   &__dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 250px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      margin-top: 6px; // Отступ от навигации

      &-link {
         color: var(--color-text-white);
         padding-top: 4px;
         transition: all 0.3s ease;
         position: relative;


         &:hover {
            color: var(--color-accent);
         }

         &--active {
            color: var(--color-accent);
            margin-left: 15px;
            cursor: default;

            &::before {
               content: '';
               position: absolute;
               left: -15px;
               top: 50%;
               width: 7px;
               height: 7px;
               background-color: var(--color-accent);
            }
         }
      }


   }

   // Иконки действий
   &__actions {
      display: flex;
      align-items: center;
      gap: 20px;
   }

   &__action-btn {
      color: var(--color-text-white);
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 0.3s ease;

      &:hover {
         color: var(--color-accent);
      }

      svg {
         width: 100%;
         height: 100%;
      }

      &--burger {
         width: 20px;
         height: 18px;
         flex-direction: column;
         justify-content: space-between;

         @include lg-up {
            display: none; // Скрываем бургер на десктопе
         }
      }

      &--phone {
         @include lg-up {
            order: 1;
         }
      }
   }

   &__burger-line {
      width: 100%;
      height: 2px;
      background-color: var(--color-text-white);
      transition: all 0.3s ease;
   }
}

// Состояния для мобильного меню
.header--mobile-menu-open {


   .header__logo-icon {
      &-elements {
         fill: var(--color-text-white);
      }

      &-separator {
         stroke: var(--color-text-white);
      }
   }

   .header__burger-line {
      &:nth-child(1) {
         transform: translateY(8px) rotate(45deg);
      }

      &:nth-child(2) {
         opacity: 0;
      }

      &:nth-child(3) {
         transform: translateY(-8px) rotate(-45deg);
      }
   }

   // Мобильная навигация
   .header__nav {
      @include lg-up {
         display: block; // На десктопе всегда показываем
      }

      // На мобильных показываем как полноэкранное меню
      @media (max-width: 767px) {

         left: 0;


         .header__nav-list {
            display: block;

         }

         .header__nav-item {
            margin-bottom: 10px;
         }

         .header__nav-link {
            @include mobile-H1;
            color: var(--color-text-black);
            text-transform: uppercase;
         }

         .header__nav-link--services {
            gap: 9px;
            align-items: flex-start;
         }

         .header__nav-arrow {
            width: 16px;
            height: 10px;
            margin-top: 3px;
            transition: transform 0.3s ease;
         }

         .header__nav-item--services.header__nav-item--active {
            .header__nav-link {
               color: var(--color-text-white);
            }

            .header__nav-arrow {
               transform: rotate(180deg);
            }

            // Показываем выпадающее меню только когда активно
            .header__dropdown {
               display: block;
            }
         }

         // Подменю для мобильных
         .header__dropdown {
            position: static;
            display: none;

            .header__dropdown-list {
               list-style: none;
               margin: 0;
               padding: 0;
            }

            .header__dropdown-item {
               margin-bottom: 8px;
            }

            .header__dropdown-link {
               @include mobile-body-2;
               color: var(--color-text-white);
               padding: 0;

               &--active {
                  color: var(--color-text-white);
                  margin-left: 0;

                  &::before {
                     display: none;
                  }
               }
            }
         }

      }
   }
}