<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">Логотип</div>
    <nav class="footer__nav">
      <ul class="footer__menu">
        <li class="footer__menu-item"><a href="/">Главная</a></li>
        <li class="footer__menu-item"><a href="/about.html">О нас</a></li>
        <li class="footer__menu-item"><a href="/contacts.html">Контакты</a></li>
      </ul>
    </nav>
    <div class="footer__copyright">&copy; 2024 Компания</div>
  </div>
</footer>
