<!-- Поиск -->
<div class="search" id="search">
   <div class="search__content">
      <div class="search__field">
         <svg class="search__icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
               d="M19 19L13 13M15 8C15 11.866 11.866 15 8 15C4.13401 15 1 11.866 1 8C1 4.13401 4.13401 1 8 1C11.866 1 15 4.13401 15 8Z"
               stroke="currentColor" stroke-width="1.5" />
         </svg>
         <input type="text" class="search__input" placeholder="Enter query" aria-label="Search query" />
         <button class="search__close" type="button" aria-label="Close search">
            <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
               <line x1="1.49" y1="2.73" x2="18.52" y2="19.76" stroke="currentColor" stroke-width="2" />
               <line x1="1.48" y1="19.89" x2="13.8" y2="7.57" stroke="currentColor" stroke-width="2" />
               <line x1="18.37" y1="7.12" x2="18.37" y2="19.96" stroke="currentColor" stroke-width="2" />
            </svg>
         </button>
      </div>
   </div>

   <!-- Overlay для мобильной версии -->
   <div class="search__overlay"></div>
</div>