<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__info">
      <div class="contacts__label">contacts</div>
      <div class="contacts__communication">
        <div class="contacts__phone">+1 (323) 513 4757</div>
        <div class="contacts__email">service@davaleather.com</div>
        <div class="contacts__socials">
          <a href="#" class="contacts__social contacts__social--facebook">facebook</a>
          <span class="contacts__social-separator"></span>
          <a href="#" class="contacts__social contacts__social--instagram">instagram</a>
        </div>
      </div>
      <div class="contacts__support">
        <div class="contacts__support-hours">8am - 8pm every day</div>
        <div class="contacts__support-24">Customer support 24/7</div>
        <div class="contacts__address">5533 Alhambra Ave, Los Angeles, CA 90032</div>
      </div>
    </div>
    <div class="contacts__image">
      <picture>
        <source media="(max-width: 767px)" srcset="/assets/images/contacts/contacts-mobile.jpg" />
        <source media="(min-width: 768px)" srcset="/assets/images/contacts/contacts-desktop.jpg" />
        <img src="/assets/images/contacts/contacts-desktop.jpg" alt="Contacts map" />
      </picture>
    </div>
  </div>
</section>
