@use '../../styles/base/vars' as *;
@use '../../styles/base/mixins' as *;

.contacts {

   .contacts__container {
      @include mobile-body-3;
      background: var(--color-accent);
      display: flex;
      flex-direction: column;
      padding: 0;

      @include lg-up {
         @include desktop-body-3;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         @include container-padding-left;
      }
   }

   &__info {
      height: 388px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 max(1rem, $safe-area-mobile); // Защита от "ушей" iPhone

      @include lg-up {
         height: auto;
         padding: 0 1rem 0 0;
      }
   }

   &__label {
      font-weight: 700;
      text-transform: uppercase;
   }

   &__support {
      margin-top: 1rem;
   }


   &__communication {
      margin-top: 1.25rem;
   }

   &__support,
   &__communication {
      > :nth-child(n+2) {
         // все дочерние элементы, кроме первого
         margin-top: 0.1875rem;
      }
   }

   &__socials {
      height: 1.375rem;
      display: flex;
      align-items: center;

   }

   &__social {


      &--facebook {
         // Можно добавить иконку через before
      }

      &--instagram {
         // Можно добавить иконку через before
      }
   }

   &__social-separator {
      display: inline-block;
      width: 1px;
      height: 1.375rem;
      margin: 0 0.4375rem;
      background: var(--color-text-black);
   }




   &__image {
      flex: 0 1 67.9%;
      max-width: 930px;

      img {
         width: 100%;
         height: 100%;
         // object-fit: cover;
      }
   }

}