// _fonts.scss
// Подключение и описание шрифтов проекта 

@font-face {
  font-family: 'Random Grotesque Std';
  src: url('/assets/fonts/RG-StandardBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}